<!-- aboutme.html -->

<div class = "col-md-offset-0 col-md-12">
<br>
<br>
	<h1>About Me</h1>
	<br>
	<p>Hey! My name is Yubo and I'm a junior at Duke University majoring in Computer Science with a minor in Biolody and a minor in Bioinfomatics/Computational Biology. Generally, my coding interest are in database design, low-level programming, and web app development. Specifically, I enjoy exploring and using technologies like HTML5/CSS3, MongoDB, Node.js/Express, AngularJS/Javascript, Twitter Bootstrap, Java, and C/C++.</p>

	<p>At Duke University, I am a brother of the Duke Associate Chapter of Lambda Phi Epsilon, Executive board member of Chinese student Association, and Student Ambassador at Fuqua School of Business. When free moments come outside of school life, you may find me engaged in or thinking about one of these other interests or passions:</p>

		<ul>
            <li><h4>Basketball</h4>I play very regularly in college, both in intramural basketball league and with my friends on Chinese student basketball team. I love both NBA and college hoops, with of course, a particularly deep deep loyalty to Duke.</li>
            
            <li><h4>Saxophone</h4>My secret dream has always been to be a jazz musician. I play saxophone since I was 9, mainly focusing on soprano but could never resist the classic sound of tenors. Saxophone is an object so beautiful and a sound so attractive. It is the perfect combination of wildness and intelligence, along with just the right amount of confidence.</li>
            
            <li><h4>Cooking</h4> I love cooking because everyone loves food – and in-turn, they love the bearer of delicious food. I can make very decent chinese dishes, and started learning cooking western food recently. Nothing makes me feel better than providing my beloved ones with plated nourishment made with my own hands and creativity.</li>
            
            <li><h4>Film</h4>The nice thing about a good movie is that it tells a story in a short amount of time: it's the pleasure of a book compressed into a single evening. I am still working my way through <a href="http://www.imdb.com/chart/top">IMDB's Top 250 Movies.</a> Two particular movie series that I deeply love are 'Pirates of the Carribean' and 'the Fast and the Furious', and yes, they are both about family and freedom.</li>
            
        </ul>

	<p>Before coming to Duke, I attended <a href = "http://www.qderzhong.net/en/">Qingdao No.2 Middle School.</a> I was the president of the Student Association, and had a wonderful year working with 42 executive board members from 12 departments to organize events for the entire school. I was also an active member in model United Nations club, debate team, and wind symphony.

	<p>Even before that, I was born and raised up in Qingdao, a lovely small town on the east coast of China, but globally famous for its <a href ="https://www.tsingtaobeer.com">beer</a>.</p>


	<p>I hope you all have enjoyed my ramblings. As a departing note, here's another photo of me! It was taken in Beijing in <a href="http://2014dukeengagebeijing.weebly.com/about.html">summer 2014</a> with my cute kids at <a href="http://www.dandelionschool.org/">Dendelion School</a>, where I spent couple most meaningful months in my life serving the society:
	</p>
	<br>
	<br>
	<br>

	<div class="row text-center">
		<img src="../img/dukeengage.jpg" style="width:600px;height:370px;">
	</div>
</div>
