<!-- aboutme.html -->

<div class = "col-md-offset-0 col-md-12">
<br>
<br>
	<h1>About Me</h1>
	<br>
	<p>Hey! My name is Yubo and I'm a junior at Duke University majoring in Computer Science with two minors which are Biolody and Bioinfomatics. 
	echnologies like HTML5, CSS3, AngularJS/Javascript, MongoDB, Node.js, Twitter Bootstrap, and Java</p>

	<p>At Duke University, I am a brother of the Duke Associate Chapter of Lambda Phi Epsilon, Executive board member of Chinese student Association, and Student Ambassador at Fuqua School of Business. Outside of school life, I love blablablabla.</p>

	<p>Before coming to Duke, I was born and raised up in Qingdao, a lovely town on the east coast of China. I spent the first seventeen years of my life there blablablabla...</p>



	<p>I hope you all have enjoyed my ramblings. As a departing note, here's another photo of me! 
	</p>
	<br>

	<div class="row text-center">
		<img src="../img/qd.jpg" style="width:400px;height:400px;">
	</div>
</div>
