<div class = "col-md-offset-0 col-md-12">
  <h1>Coding</h1>
  <h2>&nbsp;&nbsp;&nbsp;&nbsp;Personal Project</h2>
  My code can be found on my <a href="https://github.com/yubotian">Github profile</a>. Some of my work are in private repositories and they are available upon request. The projects that I have done in and out of school includes
  <ul>
    <li>My website (which you're browsing!)</li>
    
    <li>proj</li>
    
    <li>proj</li>
    
    <li>Solutions to over 100 ACM International Collegiate Programming Contest (ICPC) problems on <a href="https://github.com/yubotian/ICPC_practice">github</a></li>
    
    <li>more proj</li>
    <li>more proj</li>
  </ul>

  <h2>&nbsp;&nbsp;&nbsp;&nbsp;Coursework</h2>
  <ul>
    <li>Compsci 330 Design/Analysis of Algorithms</li>
    <li>Compsci 310 Operating Systems</li>
    <li>Compsci 356 Computer Network Architecture</li>
    <li>Compsci 316 Database Systems
      <ul>
        <li>Led a team of 12 to design and code a tower defense authoring environment and game engine
          <ul>
            <li>Set the overall team direction and managed 4 subteams</li>
            <li>Designed APIs for communication between modules</li>
            <li>Helped guide design decisions within subteams</li>
            <li>Resolved conflicts between team members</li>
          </ul>
        </li>
        <li>Worked in a team of 4 to create an interpreter and GUI for a simple version of the Logo language</li>
        <li>Worked in a team of 2 to build a physics simulator that accepts XML input</li>
      </ul>
    </li>
    <li>Compsci 270 Intro to Artificial Intelligence</li>
    <li>Compsci 250 Computer Architecture
      <ul>
        <li>Implemented a basic processor (datapath and control) in Logisim</li>
      </ul>
    </li>
    <li>Compsci 201 Data Structures and Algorithms<ul><li>Wrote a program to losslessly compress/decompress files using Huffman coding</li><li>Wrote a text generator based on Markov chains</li><li>Wrote an algorithm to compress tries by combining nodes with only one child</li></ul></li>
    
  </ul>

  <h1>Biology and Computational Genomics</h1>
  <li>Biology 201 Molecular Biology</li>
  <li>Genetics and Revolution</li>
  <li>Biology 260 Intro to Computational Genomics</li>
  <li>Biology 255 Philosophy of Biology</li>
</div>