<div class = "col-md-offset-0 col-md-12">
  <h1>Coding</h1>
  <h2>&nbsp;&nbsp;&nbsp;&nbsp;Personal Project</h2>
  My code can be found on my <a href="https://github.com/yubotian">Github profile</a>. Some of my work are in private repositories and they are available upon request. The projects that I have done in and out of school includes
  <br>
  <br>
  <ul>
    <li><h5>My website (which you're browsing!)<h5></li>
      <ul>
      <li>I made this personal website using MongoDB, Express, AngularJS, and Node.js. </li>
      <li>This is an interactive webapp with dynamic posting/ post feeding and full registration/authentication system. It functions just like twitter, but I deactivate the register button so that only I can post news in my life!</li>
      </ul>
    
    <li><h5>Gym Buddy</h5></li>
    <ul>
      <li>Swift, Objective-C, MySQL</li>
      <li>An iOS app that pairs up workout buddies according to requests and fitness habits.</li>
      <li>Finding a workout partner has become harder for college students due to the diversified lifestyles and time schedules, which is the problem I want to solve by building this app.
      <li> I led a three people group though UI/UX design and database implementation, constructed the Storyboards/ controllers for multiple views, and implemented ranking algorithms for matching records.</li>
    </ul>
        
    <li><h5>Solutions to over 100 ACM International Collegiate Programming Contest (ICPC) problems on <a href="https://github.com/yubotian/ICPC_practice">github</a></h5></li>
    
  </ul>

  <h2>&nbsp;&nbsp;&nbsp;&nbsp;Coursework</h2>
  <ul>
    <li>Compsci 330 Design/Analysis of Algorithms</li>
    <li>Compsci 316 Database Systems</li>
    <li>Compsci 310 Operating Systems</li>
    <ul>
      <li>Implemented a heap manager (malloc(), free(), dynamic splitting and coalescing). (C/C++)</li>
      <li>Implemented a thread library to support multiple threads within a single Linux precess. (C/C++)</li>
      <li>Implemented Raft consensus protocol (leader election and log repair). (Java)</li>
    </ul>
    <li>Compsci 356 Computer Network Architecture</li>
    <ul>
      <li>Built a http web proxy with cache that uses LRU eviction policy. (C/C++)</li>
      <li>Implemented a reliable transport protocol that does congestion control using sliding window protocol. (C/C++)</li>
      <li>Implemented a virtual IP Network that supports dynamic routing and forwarding with RIP. Implemented split horizon with poison reverse and triggered updates. (C/C++)</li>

      </ul>
    
    <li>Compsci 270 Intro to Artificial Intelligence</li>
    <ul>
      <li>Built a pacman agent that can find paths through maze, avoid ghosts successfully, and collect food efficiently. (Python)</li>
        <li>Implemented algorithms for search, planning, decision theory, MDP, Bayesian networks, and machine learning. (Python) </li>
        
      </ul>
      <li>Compsci 250 Computer Architecture
        <ul>
          <li>Implemented a basic processor (datapath and control) in Logisim.</li>
        </ul>
      </li>
      <li>Compsci 201 Data Structures and Algorithms</li>      

    </ul>

    <h1>Biology and Computational Genomics</h1>
    While being a CS major, biology has also been my long-time fascination. I am interested in research that explores the "marriage" of these two beautiful subjects, i.e., computational genomics and bioinfomatics.
    <br>
    <br>
    <ul>
    <li>Biology 201 Molecular Biology</li>
    <li>Biology 202 Genetics and Revolution</li>
    <li>Biology 260 Intro to Computational Genomics</li>
    <li>Biology 255 Philosophy of Biology</li></ul>
  </div>