<div class = "col-md-offset-0 col-md-12">
  <h1>Coding</h1>
  <h2>&nbsp;&nbsp;&nbsp;&nbsp;Personal Project</h2>
  My code can be found on my <a href="https://github.com/yubotian">Github profile</a>. Some of my work are in private repositories and they are available upon request. The projects that I have done in and out of school includes
  <br>
  <br>
  <ul>
    <li>My website (which you're browsing!)</li>
    
    <li>proj</li>
    
    <li>proj</li>
    
    <li>Solutions to over 100 ACM International Collegiate Programming Contest (ICPC) problems on <a href="https://github.com/yubotian/ICPC_practice">github</a></li>
    
    <li>more proj</li>
    <li>more proj</li>
  </ul>

  <h2>&nbsp;&nbsp;&nbsp;&nbsp;Coursework</h2>
  <ul>
    <li>Compsci 330 Design/Analysis of Algorithms</li>
    <li>Compsci 310 Operating Systems</li>
    <li>Compsci 356 Computer Network Architecture</li>
    <li>Compsci 316 Database Systems</li>
    <li>Compsci 270 Intro to Artificial Intelligence</li>
    <ul>
      <li>Build a pacman agent that can find paths through maze, avoid ghosts successfully, and collect food efficiently. 
        Implemented algorithms for search, planning, decision theory, MDP, Bayesian networks, and machine learning. (Python)         </li>
        
      </ul>
      <li>Compsci 250 Computer Architecture
        <ul>
          <li>Implemented a basic processor (datapath and control) in Logisim</li>
        </ul>
      </li>
      <li>Compsci 201 Data Structures and Algorithms</li>

    </ul>

    <h1>Biology and Computational Genomics</h1>
    While being a CS major, biology has also been my long-time fascination. I am interested in research that explores the "marriage" of these two beautiful subjects, computational genomics and  bioinfomatics.
    <br>
    <br>
    <ul>
    <li>Biology 201 Molecular Biology</li>
    <li>Genetics and Revolution</li>
    <li>Biology 260 Intro to Computational Genomics</li>
    <li>Biology 255 Philosophy of Biology</li></ul>
  </div>