<!--contact.html -->

<div class = "col-md-offset-0 col-md-12">
	<br>
	<br>
	<h1>Contact Me</h1>
	<br>
<ul class="list-group" >
  <li class="list-group-item">&nbsp;<span class="glyphicon glyphicon-globe" aria-hidden="true" style = "margin-left: 3px;"></span> &nbsp; &nbsp; <a href="">ytttttt.website</a></li>
  <li class="list-group-item">&nbsp;<span class="glyphicon glyphicon-envelope" aria-hidden="true" style = "margin-left: 3px;"></span> &nbsp; &nbsp;yubo.d.tian@gmail.com</li>
  <li class="list-group-item"><img src="../img/linked_in.jpg" width="17" height="17" style = "margin-left: 5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/yubotian">www.linkedin.com/in/yubotian</a></li>
  <li class="list-group-item">&nbsp;<span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style = "margin-left: 3px;" >   (1)919-813-8291 (86)158-6532-9623</li>
  <li class="list-group-item"><img src="../img/github.png" width="17" height="17" style = "margin-left: 5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/yubotian">github.com/yubotian</a></li>
  <li class="list-group-item"><img src="../img/instagram.png" width="16" height="16" style = "margin-left: 5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://instagram.com/hd_yobo/">https://instagram.com/hd_yobo/</a></li>
</ul>
</div>