  
<div class="jumbotron" style="margin-top: 5px;" >
  <div class="container">
    <div class="media">
      
      <div class = "col-md-offset-0 col-md-6">
        <h1 style="text-align:left; margin-left: 50px;">Hello,</h1>
        <p style="text-align:left; margin-left: 50px;"> I am Yubo, currently a senior at Duke University studying Computer Science and Biology.</p>
        <p style="text-align:left; margin-left: 50px;"> Welcome to my space.</p>
      </div>
      <a class="pull-right" href="images/headshot.jpg">
        <img src="../../img/me.jpg" style="margin-right: 30px;" width="270" alt="...">
      </a>
    </div>
  </div>
</div>


<div class="clearfix">
  <form ng-Submit = "post()" ng-show="authenticated" >
    <h4>{{current_user}} says</h4>
    <!--<input required class="form-control" type="text" placeholder="Your name" ng-model="newPost.created_by"/> --> 
    <input required class="form-control" type="text" placeholder="Your location" ng-model="newPost.created_location"/>
    <textarea required class="form-control" maxlength="2000" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>


    <input class="btn btn-default pull-right" type="submit" value="Submit" />
  </form>
  <div id="post-stream">
    <h4>Whats New in My Life &nbsp;<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></h4>
    <!--to be populated by Angular-->

    <div class="post" ng-repeat="post in posts | orderBy:'created_time':true | limitTo: 7" ng-class-odd="'odd'" ng-class-even="'even'"> 
      <p ng-repeat="paragraph in post.text | nlToArray track by $index">{{paragraph}}</p>

      <small>Posted by {{post.created_by}} </small>
      <small class="pull-right"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{post.created_location}} @ {{post.created_time | date:"h:mma 'on' MMM d, y"}}</small>

    </div>

    <p><a class="btn btn-default"  class="pull-left" href="#/whatsnew" role="button">Read more &raquo;</a></p>

  </div>
</div>






