<!-- login.html -->

<!--register.html-->
<html>
  <head>
    <title>Admin Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="../javascripts/myWebApp.js"></script>
    <link href = "../../dist/css/bootstrap.min.css" rel = "stylesheet">
    <link rel="stylesheet" href="../../dist/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body ng-app="myWebApp">
    <div id='main' class="container" ng-controller="authController">
      <form class="form-auth" ng-submit="login()">
        <h2>Admin Log in</h2>
        <p class="text-warning">{{error_message}}</p>
        <input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
        <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
        <input type="submit" value="login" class="btn btn-primary" />
      </form>
    </div>
  </body>
</html>