<!-- resume.html-->

<html>
  <head>
    <title>Yubo Tian - Register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="../javascripts/myWebApp.js"></script>
    <link href = "../../dist/css/bootstrap.min.css" rel = "stylesheet">
    <link rel="stylesheet" href="../../dist/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>

  	<h1>Sample PDF<h1>
  	<div class = "container">
  		<br>
  		<object data = "../../img/resume.pdf" width="850" height = "1130">

  	</div>


  </body>
</html>